* {
    margin: 0;
    padding: 0;
}
header {
    background-color: darkgray;
    color: darkgray;
    height: 100px;
}

#box1 {
    background-color: lightgray;
    color: lightgray;
    width: 20%;
    height: 100%;
    position: fixed;

}

#box2 {
    background-color: lightgray;
    color: lightgray;
    width: 20%;
    height: 100vh;
    float: right;
}

footer {
    background-color: black;
    width: 60%;
    height: 10vh;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}